/* -- Main Navigation -- */
.menu {
  cursor: pointer;
  font-size: 1.3em;
  position: absolute;
  top: 2.3em;
  right: 1em;

  @media screen and (min-width: $break-medium + 1em) {
    display: none;
  }
}

.main-nav {
  display: none;
  overflow: hidden;
  text-align: center;

  div {
    display: inline-block;
  }

  a {
    color: lighten(black, 20%);
    display: inline-block;
    font-size: 1.4em;
    padding: .65em 1.15em;
    text-align: center;
    text-decoration: none;

    &:hover {
      color: lighten(black, 60%);
    }
  }

}

@media screen and (min-width: $break-medium + 1em) {
  .main-nav {
    display: block;
    float: right;

    a {
      border-bottom: .1875em solid transparent;
      display: block;
      font-size: 1.2em;
      padding: 2.2em 1.25em 1em;

      &:hover {
        border-bottom: .1875em solid $primary-color;
        color: lighten(black, 20%);
      }
    }
  }
}

@media screen and (min-width: $break-medium + 1em) {
  .main-nav {
    display: block;
    float: right;

    a {
      border-bottom: .1875em solid transparent;
      display: block;
      padding: 2.2em 1.5em 1em;
      text-decoration: none;

      &:hover {
        border-bottom: .1875em solid $primary-color;
        color: lighten(black, 20%);
      }
    }
  }
}

@media screen and (min-width: $break-medium + 5em) {
  .main-nav {
    a {
      padding-left: 2em;
      padding-right: 2em;
    }
  }
}

/* ---- Frame ---- */
.frame {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 2px;
  box-shadow: rgba(0, 0, 0, 0.1) 0 0 5px;
  display: block;
  margin-bottom: .5em;
  padding: .5em;
  transition: opacity 0.2s ease-in-out;

  img {
    display: block;
  }
}

/* ---- Portrait ---- */
.portrait {
    display: block;
    margin: 0 auto 2.5em;
    max-width: 60%;

  @media screen and (min-width: $break-medium) {
    max-width: 100%;
  }
}

/* ---- Work Excerpt ---- */
.work-excerpt__title {
  color: #888;
  text-align: center;
}

/* ---- Post Date ---- */
.date {
  color: lighten($body-font-color, 20%);
}

/* ---- Blog Post List ---- */
.blog-post-list {

  ul {
    margin-top: 3em;
    padding-left: 0;
    list-style-type: none;
  }

  li {
    border-bottom: 1px solid #d8d8d8;
    margin-bottom: 2.2em;
    padding-bottom: 1.4em;
    position: relative;

    &:last-child {
      border-bottom: none;
    }
  }

  h2 {
    margin-bottom: .25em;
  }
}

/* ---- Blog Post ---- */
.blog-post {

  h5 {
    margin-bottom: 1.5em;
  }
}

/* ---- Previous/Next ---- */
.previous,
.next {
  font-size: 1.5em;
  margin-bottom: 2.5em;
  padding: 1em .625em 0;
}

.previous {
  float: left;
  padding-left: 0;
}

.next {
  float: right;
  padding-right: 0;
}

/* ---- Footer ---- */
footer {

  text-align: center;

  ul {
    font-size: 1.2em;
    list-style-type: none;
    padding-left: 0;
  }

  li {
    display: inline;
    padding: 0 1em;
  }
}

