html {
  background: url(../img/bg.png);
}

body {
  padding-bottom: 3em;
}

/* -- Typography -- */
h1 {
  line-height: 1.25;
}


/* -- Header -- */
header {
  overflow: hidden;
  padding-bottom: 1.5em;
  position: relative;
}

.site-logo {
  margin: 1em auto;
  width: 5em;

  @media screen and (min-width: 36.1em) {
    float: left;
    margin: 1em;
  }

  img {
    max-width: 100%;
  }
}

/* -- Main Navigation -- */
.menu {
  color: lighten(#000, 70%);
  cursor: pointer;
  font-size: 1.2em;
  position: absolute;
  top: 2.5em;
  @include transition-property(color);
  @include transition-duration(.25s);
  @include transition-timing-function(ease-in-out);
  right: 1em;

  &:hover {
    color: lighten(black, 10%);
  }

  @media screen and (min-width: 36.1em) {
    display: none;
  }
}

nav {
  display: none;
  font-size: 1.2em;
  overflow: hidden;
  text-align: center;

  div {
    display: inline-block;
  }

  a {
    color: lighten(black, 20%);
    display: inline-block;
    padding: .65em 1.5em;
    text-align: center;
    @include transition-property(color);
    @include transition-duration(.25s);
    @include transition-timing-function(ease-in-out);

    &:hover {
      color: lighten(black, 60%);
    }
  }

}

@media screen and (min-width: 36.1em) {
  nav {
    display: block;
    float: right;

    a {
      border-bottom: .1875em solid transparent;
      display: block;
      padding: 2.2em 2em 1em;
      @include transition-property(border-color);
      @include transition-duration(.25s);
      @include transition-timing-function(ease-in-out);

      &:hover {
        border-bottom: .1875em solid $primary-color;
        color: lighten(black, 20%);
        @include transition-property(border-color);
        @include transition-duration(.25s);
        @include transition-timing-function(ease-in-out);
      }

    }
  }
}

/* -- Intro -- */
.intro .column,
.intro .columns {
  margin-bottom: 3em;
}

/* -- Work Grid -- */
.work-grid {
  @include block-grid(1, $block-grid-default-spacing, true);

  a {
    @include box-shadow(rgba(0,0,0,.1) 0 0 5px);
    display: block;
    @extend .frame;
    @include transition-property(opacity);
    @include transition-duration(.2s);
    @include transition-timing-function(ease-in-out);

    &:hover img {
      opacity: .8;
      @include transition-property(opacity);
      @include transition-duration(.2s);
      @include transition-timing-function(ease-in-out);
    }
  }

  h6 {
    color: lighten($body-font-color, 40%);
    text-align: center;
  }

  @media screen and (min-width: 26em) {
    @include block-grid(2, $block-grid-default-spacing, false);
  }

  @media screen and (min-width: 52em) {
    @include block-grid(3, $block-grid-default-spacing, false);
  }

}

/* -- Single Work Item -- */
.single-work-item {
  h1 {
    margin-bottom: 0;
  }
}

.project-type {
  font-size: 1.2em;
  letter-spacing: .15em;
  margin-bottom: 1.2em;
  text-transform: uppercase;
}

.description {

  @media screen and (max-width: 45em) {
    .large-6 {
      float: none;
      width: auto;

      img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        max-width: 450px;
        width: 100%;
      }
    }
  }

  img {
    margin-bottom: emCalc(30)
  }

  h3 {
    margin-bottom: emCalc(16);
    margin-top: 0;
  }
}

.device {
  margin-top: 3em;

  p {
    @extend .center;
    max-width: 500px;

  }
}

.iphone img {
  margin-bottom: 2em;
}

.macbook img {
  margin-bottom: 1em;
}

.magazine-spread {
  margin-top: 2em;

  img {
    margin-bottom: 1em;
  }
}

.image-credits {
  margin: 0 auto;
  max-width: 600px;

  p {
    font-size: .75em;
  }
}

.previous,
.next {
  font-size: 1.5em;
  padding: 1em emCalc(10) 0;
}

.previous {
  float: left;
}

.next {
  float: right;
}

/* -- Portrait -- */
.portrait {

  img {
    @extend .frame;

    @media screen and (max-width: 36em) {
      display: block;
      margin: 0 auto;
      max-width: 60%;
    }
  }
}

/* -- Light to dark -- */
.light-to-dark {
  color: lighten($body-font-color, 60%);

  + span {
    color: lighten($body-font-color, 40%);

    + span {
      color: lighten($body-font-color, 10%);
    }
  }
}

/* -- Contact -- */
@media screen and (min-width: 36em) {
  .contact h3 {
    text-align: center;
  }
}

/* -- Classes -- */
.center {
  margin-left: auto;
  margin-right: auto;
}

  img.center {
    display: block;
  }

.frame {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: $global-radius;
  padding: .4em;
}

.show {
  display: block;
}

.space-below {
  margin-bottom: 2em;
}

.space-above {
  margin-top: 2em;
}
