---
title: About Me
---

{% include header.html %}
<div class="avatar-image">
  <img src="/img/kevin-weeks-designer-developer.png" alt="">
</div>
<article class="post">
  <h1 class="text-center">I'm Kevin</h1>
  <p>and I love adventures just a little bit more than I love to code.
    So before I start, if you know of something awesome that I should do or know about,
    <a href="mailto:thetallweeks@gmail.com">email me immediately.</a>
  </p>
  <p>I started out in graphic design, then transitioned to html and css. Now, I am trying to hone my skills in
    full-stack development. I'm continuing to work on my understanding and competency in javascript and learning
    java (for an Android app I'm working on) and C#.
  </p>
</article>

{% include footer.html %}