---
title: About Me
---

{% include header-spread-logo-light.html %}
<div class="spread-image">
  <img src="/img/kevin-weeks-spread.jpg" alt="">
</div>
<div class="content">
  <div class="grid grid--gutter">
    <!-- <div class="grid__column grid__column--gutter small-medium--1of3">
      <div class="frame portrait">
        <img src="img/kevin-weeks-web-designer.jpg">
      </div>
    </div> -->
    <div class="">
      <h1>I'm Kevin</h1>
      <p>and I love adventures just a little bit more than I love to code.
        So before I start, if you know of something awesome that I should do or know about,
        <a href="mailto:thetallweeks@gmail.com">email me immediately.</a></p>
      <p>I started out in graphic design, then transitioned to html and css. Now, I am trying to hone my skills in
        full-stack development. I'm continuing to work on my understanding and competency in javascript and learning
        java (for an Android app I'm working on) and C#.</p>
        <p></p>
    </div>
  </div>
</div>
{% include footer.html %}