---
title: Work
---

{% include header.html %}

  <section class="intro">
    <h1>Hi there. My name is Kevin. I'm a web designer and front-end developer.</h1>
    <h2>You can see my work below.</h2>
  </section>

  <section class="block-grid">
    {% for post in site.categories.work %}
      <article class="work-excerpt">
        <a href="{{ post.url }}" class="frame">
          <img src="{{ post.image }}">
        </a>
        <h6>{{ post.title }}</h6>
      </article>
    {% endfor %}
  </section>

{% include footer.html %}