<footer class="row">
  <p>Copyright &copy; 2013</p>
  <ul>
    <li><a href="{{ site.baseurl }}index.html">Work</a></li>
    <li><a href="{{ site.baseurl }}blog/index.html">Blog</a></li>
    <li><a href="{{ site.baseurl }}about.html">About</a></li>
    <li><a href="mailto:kevinmichaelweeks@gmail.com">Contact</a></li>
    <li><a href="{{ site.baseurl }}feed.xml">RSS</a></li>
  </ul>
</footer>

<script>
document.write('<script src=' +
  ('__proto__' in {} ? '{{ site.baseurl }}js/vendor/zepto' : '{{ site.baseurl }}js/vendor/jquery') +
  '.js><\/script>')
</script>

<script src="{{ site.baseurl }}js/main.js"></script>

<!-- Google Analytics -->
  <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-27444689-2']);
    _gaq.push(['_trackPageview']);
    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
  </script>
</body>
</html>