<!DOCTYPE html>
<!--[if IE 8]>         <html class="no-js lt-ie9" lang="en" > <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en" > <!--<![endif]-->

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>{{ page.title }} | Kevin Weeks | Designer and Front-End Developer</title>

  <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="{{ site.baseurl }}css/main.css">

  <script src="{{ site.baseurl }}js/vendor/custom.modernizr.js"></script>

</head>
<body>
  <header class="row">
    <a href="/" class="site-logo">
      <img src="{{ site.baseurl }}img/logo.png" alt="KW Logo">
    </a>
    <a class="menu">Menu</a>
    <nav class="main-nav">
      <div name="work"><a href="{{ site.baseurl }}index.html">Work</a></div>
      <div name="blog"><a href="{{ site.baseurl }}blog/index.html">Blog</a></div>
      <div name="about"><a href="{{ site.baseurl }}about.html">About</a></div>
      <div name="contact"><a href="{{ site.baseurl }}contact.html">Contact</a></div>
    </nav>
  </header>