<!DOCTYPE html>
<!--[if IE 8]>         <html class="no-js lt-ie9" lang="en" > <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en" > <!--<![endif]-->

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>{{ page.title }} | Kevin Weeks | Designer and Front-End Developer</title>

  <!-- Favicons -->
  <link rel="apple-touch-icon" sizes="57x57" href="/apple-touch-icon-57x57.png" />
  <link rel="apple-touch-icon" sizes="114x114" href="/apple-touch-icon-114x114.png" />
  <link rel="apple-touch-icon" sizes="72x72" href="/apple-touch-icon-72x72.png" />
  <link rel="apple-touch-icon" sizes="144x144" href="/apple-touch-icon-144x144.png" />
  <link rel="apple-touch-icon" sizes="60x60" href="/apple-touch-icon-60x60.png" />
  <link rel="apple-touch-icon" sizes="120x120" href="/apple-touch-icon-120x120.png" />
  <link rel="apple-touch-icon" sizes="76x76" href="/apple-touch-icon-76x76.png" />
  <link rel="apple-touch-icon" sizes="152x152" href="/apple-touch-icon-152x152.png" />
  <link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16" />
  <link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32" />
  <link rel="icon" type="image/png" href="/favicon-96x96.png" sizes="96x96" />
  <link rel="icon" type="image/png" href="/favicon-160x160.png" sizes="160x160" />
  <meta name="msapplication-TileColor" content="#31a9d8" />
  <meta name="msapplication-TileImage" content="/mstile-144x144.png" />
  <meta name="msapplication-square70x70logo" content="/mstile-70x70.png" />
  <meta name="msapplication-square150x150logo" content="/mstile-150x150.png" />
  <meta name="msapplication-wide310x150logo" content="/mstile-310x150.png" />
  <meta name="msapplication-square310x310logo" content="/mstile-310x310.png" />

  <link href='http://fonts.googleapis.com/css?family=Roboto+Slab:700|Source+Sans+Pro:400,600,400italic|Inconsolata' rel='stylesheet' type='text/css'>
  <link href="{{ site.baseurl }}stylesheets/main.css" rel="stylesheet" type='text/css'>

</head>
<body id="container">
  {% include menu.html %}
  <div class="page" id="page">
    <header class="header">
        <svg class="site-logo site-logo--spread" id="menu-trigger" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
           viewBox="0 0 400 400" enable-background="new 0 0 400 400" xml:space="preserve">
            <path d="M200,4C91.2,4,3,92.2,3,201s88.2,197,197,197s197-88.2,197-197S308.8,4,200,4z M277,346c-0.667-0.333-1.333-0.667-2-1
              c-16.332-42.996-32.668-86.004-49-129h-1c-15.665,43.996-31.335,88.004-47,132c-0.667-0.333-1.333-0.667-2-1
              c-25.664-61.661-51.336-123.339-77-185c-3.203,1.622-4.188,1.849-6,5c-7.666,23.998-15.334,48.002-23,72
              c-8.999-2.667-18.001-5.333-27-8c18.665-59.661,37.335-119.339,56-179c9.333,2.667,18.667,5.333,28,8
              c-7.666,23.664-15.334,47.336-23,71c30.997-16.332,62.003-32.668,93-49c11.666,3.667,23.334,7.333,35,11
              c-0.333,0.667-0.667,1.333-1,2l-105,55c16.998,40.996,34.001,82.004,51,123v-2c15.999-43.662,32.001-87.338,48-131
              c0.667,0.333,1.333,0.667,2,1c16.332,43.662,32.668,87.338,49,131c0.667-0.333,1.333-0.667,2-1
              c15.999-41.329,32.001-82.671,48-124c10.333-0.333,20.667-0.667,31-1L277,346z"/>
        </svg>
    </header>