<nav class="menu" id="menu">
  <div class="close-container">
    <div class="close-icon" id="menu-close">
      <svg width="26" height="26" viewBox="0 0 26 26" xmlns="http://www.w3.org/2000/svg">
        <rect transform="rotate(45 13 13)" id="svg_6" height="3.92422" width="29.081274" y="11.037887" x="-1.540627"/>
        <rect transform="rotate(135 13 13)" id="svg_8" height="3.92422" width="29.081274" y="11.037874" x="-1.540621"/>
      </svg>
    </div>
  </div>
    <!--
    <div class="menu__search" id="search">
      <input class="menu__search__input" type="text" placeholder="Search" autocomplete="off">
       <svg class="menu__search__icon" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="1024" height="1024" viewBox="0 0 1024 1024">
        <path d="M31.738 871.396l242.552-206.294c25.074-22.566 51.89-32.926 73.552-31.926-57.256-67.068-91.842-154.078-91.842-249.176 0-212.078 171.922-384 384-384 212.076 0 384 171.922 384 384 0 212.078-171.922 384-384 384-95.098 0-182.108-34.586-249.176-91.844 1 21.662-9.36 48.478-31.926 73.552l-206.294 242.552c-35.322 39.246-93.022 42.554-128.22 7.356s-31.892-92.898 7.354-128.22zM640 640c141.384 0 256-114.616 256-256s-114.616-256-256-256-256 114.616-256 256 114.614 256 256 256z" />
      </svg>
    </div>
  -->
  <div class="menu__item" name="blog">
    <a class="menu__link" href="{{ site.baseurl }}">Articles</a>
  </div>
  <div class="menu__item" name="blog">
    <a class="menu__link" href="{{ site.baseurl }}topics/">Topics</a>
  </div>
    <!--
    <div class="menu__item" name="blog">
      <a class="menu__link" href="{{ site.baseurl }}side-projects.html">Side Projects</a>
    </div>
  -->
  <div class="menu__item" name="about">
    <a class="menu__link" href="{{ site.baseurl }}about.html">About</a>
  </div>
  <div class="menu__item" name="contact">
    <a class="menu__link" href="{{ site.baseurl }}contact.html">Contact</a>
  </div>
</nav>