/*
  Grid
*/
.grid {
  @include cf;
}

.grid--gutter {
  margin-right: -1.25em;
}

.grid--gutter--large {
  margin-right: -2.5em;
}

.grid__column {
  float: left;
  position: relative;
}

.grid__column--gutter {
  border-right: 1.25em solid transparent;
}

.grid__column--gutter--large {
  border-right: 2.5em solid transparent;
}

.small--1of1 {
  width: 100%;
}

@media screen and (min-width: $break-small) {

  .small-medium--1of3 {
    width: 33.33%;
  }

  .small-medium--1of2 {
    width: 50%;
  }

  .small-medium--2of3 {
    width: 66.66%;
  }
}


@media screen and (min-width: $break-small-medium) {

  .medium--1of2 {
    width: 50%;
  }

  .medium--1of3 {
    width: 33.33%;
  }

  .medium--2of3 {
    width: 66.66%;
  }

  .medium--1of4 {
    width: 25%;
  }
}

@media screen and (min-width: $break-medium) {

  .large--1of2 {
    width: 50%;
  }

  .large--1of3 {
    width: 33.33%;
  }

  .large--2of3 {
    width: 66.66%;
  }

  .large--1of4 {
    width: 25%;
  }
}