.site-logo {
  cursor: pointer;
  display: block;
  fill: $logo-color;
  float: left;
  width: 2.5em;
  height: 2.5em;
}

.site-logo--spread {
  left: 1em;
}

.site-logo--light {
  fill: rgba(255,255,255,.5);
}