.post__meta {
  margin-bottom: 2em;
}

.post__topics {
  font-family: $font-family-1;
  font-size: 1em;
  font-weight: normal;
  margin-top: 0;
}

.post__topics__label {
  color: $light-text-color;
}

.post__topic {

  &:after {
    content: ",";
  }

  &:last-child {
    &:after {
      content: "";
    }
  }
}

.post__date {
  color: $light-text-color;
  font-family: $font-family-1;
  font-size: 1.1em;
  font-weight: normal;
  margin-top: 1em;
}