.post-list {
  list-style-type: none;
  margin: 0;
  padding-left: 0;
}

.post-list__item {
  margin-bottom: 2em;
  padding-bottom: 1em;
  position: relative;

  &:last-child {
    border-bottom: none;
  }
}

.post-list__title {
  margin-bottom: .25em;
}

.post-list__title a {
  color: $header-font-color;
}

.post-list__title a:hover {
  color: lighten($header-font-color, 15%);
}

.post-list__date {
  color: $light-text-color;
  font-family: $font-family-1;
  font-size: 1em;
  font-weight: normal;
  margin-top: 0;
}

.post-list__teaser {
  color: #5C5C5C;
}