/* ---- Previous/Next ---- */
.previous-next {
  overflow: hidden;
}

.previous,
.next {
  font-size: 1.3em;
  margin: 2em 0 1em;
}

.previous {
  float: left;
  padding-left: 0;
}

.next {
  float: right;
  padding-right: 0;
}