.rss {
  clear: both;
  display: block;
  margin-top: 2em;
  text-align: center;
}

.rss__link {
  display: inline-block;
}

.rss__icon {
  display: inline-block;
  fill: $rss-icon-color;;
  width: 1em;
  height: 1em;
  transition: fill .5s ease;
}

.rss__icon:hover {
  fill: darken($rss-icon-color, 15%);
  transition: fill .5s ease;
}