.content {

  @media screen and (min-width: $break-small) {
    font-size: 108%;
  }

  @media screen and (min-width: $break-medium) {
    font-size: 114%;
  }

}

.content.space-above {
  padding-top: 4em;
}