a {
  color: $primary-color;
  text-decoration: none;
  transition: all 0.15s ease-in-out;

  &:hover {
    color: darken($primary-color, 10%);
  }
}

.post a,
.contact a {
  border-bottom: .08em solid rgba(0,0,0,.15);

  &:hover {
    border-bottom: .08em solid rgba($primary-color, .5);
  }
}