---

---

{% include header.html %}

<article class="post">
  <section class="post__meta">
    <h1 class="post__title">{{ page.title }}</h1>
    <h5 class="post__date">{{ page.date | date: "%B, %-d %Y" }}</h5>
  </section>
  <section>
    {{ content }}
  </section>
</article>
<section class="previous-next">
  {% for post in site.categories.blog %}
    {% if post.url == page.url %}
      {% assign post_index0 = forloop.index0 %}
      {% assign post_index1 = forloop.index %}
    {% endif %}
  {% endfor %}
  {% for post in site.categories.blog %}
    {% if post_index1 == forloop.index0 %}
      {% assign prev_post = post.url %}
    {% endif %}
    {% if post_index0 == forloop.index %}
      {% assign next_post = post.url %}
    {% endif %}
  {% endfor %}
  {% if prev_post %}
    <a class="previous" href="{{ prev_post }}">&larr; Older</a>
  {% endif %}
  {% if next_post %}
    <a class="next" href="{{ next_post }}">Newer &rarr;</a>
  {% endif %}
</section>

<div class="rss">
  <a class="rss__link" href="/feed.xml">
    <svg class="rss__icon" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="1024" height="1024" viewBox="0 0 1024 1024">
      <path d="M136.294 750.93c-75.196 0-136.292 61.334-136.292 136.076 0 75.154 61.1 135.802 136.292 135.802 75.466 0 136.494-60.648 136.494-135.802-0.002-74.742-61.024-136.076-136.494-136.076zM0.156 347.93v196.258c127.784 0 247.958 49.972 338.458 140.512 90.384 90.318 140.282 211.036 140.282 339.3h197.122c-0.002-372.82-303.282-676.070-675.862-676.070zM0.388 0v196.356c455.782 0 826.756 371.334 826.756 827.644h196.856c0-564.47-459.254-1024-1023.612-1024z" />
    </svg>
  </a>
</div>

{% include footer.html %}